---
/* Layouts */
import Layout from '../layouts/Layout.astro';

/* Icons */
import CodeIcon from '@/components/icons/Code.astro';
import SkillIcon from '@/components/icons/Skill.astro';
import Briefcase from '@/components/icons/Briefcase.astro';
import ProfileCheck from '@/components/icons/ProfileCheck.astro';

/* Components */
import Hero from '@/components/Hero.astro';
import Skills from '@/components/Skills.astro';
import AboutMe from '@/components/AboutMe.astro';
import Projects from '@/components/Projects.astro';
import Experience from '@/components/Experience.astro';
import TitleSection from '@/components/TitleSection.astro';
import SectionContainer from '@/components/SectionContainer.astro';
---

<Layout
  title="Josue Rivas - Desarrollador y Programador Web"
  description="akakak"
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <Hero />
    </SectionContainer>
  </main>

  <div class="space-y-24">
    <SectionContainer id="experiencia">
      <TitleSection>
        <Briefcase class="size-8" />
        Experiencia laboral
      </TitleSection>
      <Experience />
    </SectionContainer>

    <SectionContainer id="proyectos">
      <TitleSection>
        <CodeIcon class="size-7" />
        Proyectos
      </TitleSection>
      <Projects />
    </SectionContainer>

    <SectionContainer id="habilidaes">
      <TitleSection>
        <SkillIcon class="size-7" />
        Habilidades
      </TitleSection>
      <Skills />
    </SectionContainer>

    <SectionContainer id="sobre-mi">
      <TitleSection>
        <ProfileCheck class="size-8" />
        Sobre mí
      </TitleSection>
      <AboutMe />
    </SectionContainer>
  </div>
</Layout>
