---
import Layout from '../layouts/Layout.astro';
---

<Layout   
	title="Josue Rivas - Desarrollador y Programador Web"
	description='akakak'
>
	<main class="px-4">
		<h1>Hola</h1>
	</main>
</Layout>
