---
import ExperienceItem from './ExperienceItem.astro';

const EXPERIENCE = [
  {
    date: 'Aug 2022 - Nov 2023',
    title: 'Full Stack Developer',
    company: 'DinamoData',
    description:
      'Responsible for developing complete software modules, from backend to frontend, incorporating performance optimizations.',
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
